@charset "UTF-8";
html{
    font-size: 100%;
    background-color: whitesmoke;
    color: magenta;
}
head{
    border: ipx solid rgb(163, 163, 38);
}
h1{
    color:black;
}
p{
    background-color: rgb(145, 99, 14);
    color:blue;
}