@charset "UTF-8";
html{
    font-size: 100%;
    background-color: whitesmoke;
    color: black;
}
head{
    border: ipx solid rgb(163, 163, 38);
}
h1{
    background: #333;
	 color: white;
	 padding: 0.5em;
	 	  
	border-bottom: solid 3px black;
}

p{
    color:black;
}

code{
    color: red;
}

.main{
    width: 90%;
    margin-left:auto;
	margin-right:auto;
}

.mainBackground{
    padding: 0.5em;
    
    width: 85%;
    margin-left:auto;
	margin-right:auto;
	
    background: rgb(230, 230, 230);
}

.titleItem {
    color: white;
	padding: 1.0em;
}

.titleMenu {
	 display: flex;
	 justify-content: flex-end;
	 list-style: none;
	 
	 position: absolute;
     top: 35px;
     right: 5%;
}

.centerTitle{
	text-align: center;
}

.blockA {
   float: left;
   width: 45%;
   height: 400px;
}

.blockB {
   float: right;
   width: 45%;
   height: 400px;
}

.blockC {
   float: left;
   width: 45%;
   height: 400px;
}

.blockD {
   float: right;
   width: 45%;
   height: 400px;
}