@charset "UTF-8";
html{
    font-size: 100%;
    background-color: whitesmoke;
    color: magenta;
}
head{
    border: ipx solid rgb(163, 163, 38);
}
h1{
    background: #333;
	color: white;
	 padding: 0.5em;
	  
	border-bottom: solid 3px black;
}
p{
    color:black;
}

.titleItem {
    color: white;
	padding: 1.0em;
}

.titleMenu {
	display: flex;
	 justify-content: flex-end;
	 list-style: none;
	 
	 position: absolute;
    top: 35px;
    right: 5%;
}